.layout {
  display: flex;
  flex-direction: row;
}

.mobile-layout-divider {
  display: none;
  margin: var(--spacing-1) 0px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .mobile-layout-divider {
    display: block;
    width: 100%;
  }
}
